.sidebar {
    height: 99vh;
    background-color: aliceblue;
    float: left;
    width: 20%;
    margin-right: 10px;
    color: olivedrab;
    margin-bottom: 10px;
}
.sidebar:hover {
    filter: hue-rotate(290deg) ;

}
.sidebar2:hover {
    filter: hue-rotate(330deg);
}
.sidebar2 {
    height: 99vh;
    background: repeating-radial-gradient( ellipse at 100% 30%, lightskyblue 30px, lightblue 30px, lightcyan 60px, honeydew 60px);;
    float: right;
    width: 20%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: green;
}

.textArea {
   width: 80%;
    background-color: gainsboro;
    color: #FF0000;
}

.sidebar .button {
    max-width: 50%;
}

.aboutSite:hover {
    color: gold;
}
.link {
    text-decoration: blink;
    font-style: italic;
    font-weight: bold;
    animation-name: link;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes link{
    from{color: gold;}
    to{color: orangered;}
}


.link:hover {
    color: gold;
}
.aboutSite {
    text-shadow: -1px -1px #666, 1px 1px #FFF ;

}
.but {
    background-color: gainsboro;
    color: olivedrab;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.but:hover {
    transform: scale(1.5);
    color: #FF0000;
}
.link1 {
    text-decoration: none;
}
h2 {
    text-align: center;
}
li > span {
    color: green;
    display: inline-block;
    width: 1.5em;
    font-size: 20px;
}
ul {
    list-style: none;

}
.adsid {
    display: none;
    position: absolute;
    z-index: 1000;
    margin: 0 25% 0 25%;
    width: 50%;
    background-color: rgba(0,255,255, 0.7);
    height: 20em;
    text-align: center;
    padding: 20px;

}
.advert:hover {
    cursor: pointer;
    animation-name: link2;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    position: absolute;
}
@keyframes link2 {
    from {
        transform: scale(1) rotate(10deg);
        color: #FF0000;
    }
    to {
        transform: scale(2) rotate(30deg);
        color: orange;

    }
}