.header {
    background-image: url("headerPicture.jpg");
    background-size:  100% auto;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 10px;
    background-position: 30% 70%;
    color: aqua;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    filter:alpha(opacity=20);
    opacity:0.7;
    font: italic 1.5em Georgia, "Times New Roman", serif;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;


}
.header:hover {
    filter: sepia(100%);
}
.aboutSite:hover {
    color: blue;


}

.aboutSite {
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 8s steps(50, end);
    animation: type 8s steps(50, end);
    width: 40em;
    animation-iteration-count:  infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes type{
    from { width: 0; }
}
@-webkit-keyframes type{
    from { width: 0; }
}
