section {
    display: flex;
    height: 100vh;
}

article {
    flex: 1 200px;
    background-color: honeydew;

    margin: 2px;


}

article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
    background-color: aliceblue;

}

.firstDivArticle3, .secondDivArticle3 {
    display: flex;
    margin-top: 10px;
    height: 400px;
    flex: 1 200px;
    align-items: center;
    justify-content: space-around;
    flex-flow: column wrap;

}


.divWithButton {
    flex: 3 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    background-color: lightcyan;
    margin: 10px;
}
.divWithButton button, .secondDivArticle3  button, .firstDivArticle3 button {
    flex: 1;
    margin: 5px;
    font-size: 17px;
    line-height: 1;
    width: auto;
    background-color: white;
    color: cornflowerblue;
}
.firstDivArticle3 {
    background-image: url("./fficePicture.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: center;
}
.secondDivArticle3 {
    background-image: url("./building.picture.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: center;
}
.divWithButton {
    background-image: url("./appartmentPicture.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: center;

}
.firstArticle, .secondArticle {
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
}

.firstArticle div, .secondArticle div {
    flex: 1 200px;
    background-color: lightcyan;
    margin: 10px;
}

.buttonB:hover {
    background-color: black;
}

.picOne {
background-image: url("./spritesheet.png");
    background-position: -15px -205px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    opacity: 0.7;
}
.picTwo {
    background-image: url("./spritesheet.png");
    background-position:  -170px -790px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    opacity: 0.7;

}
.picThree {
    width: 300px;
    height: 300px;
    background-image: url("./spritesheet.png");
    background-position: -825px -1400px;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.picOne:hover {
    background-image: url("./spritesheet.png");
    background-position: -645px -140px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    opacity: 0.7;
}
.picTwo:hover {
    background-image: url("./spritesheet.png");
    background-position:  -695px -770px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    opacity: 0.7;

}

.picThree:hover {
    width: 300px;
    height: 300px;
    background-image: url("./spritesheet.png");
    background-position: -1408px -1510px;
    background-repeat: no-repeat;
    opacity: 0.7;
}
