.offices {
    height: 100vh;
    display: flex;
    margin: 10px;
    background-color: darkcyan;
}
article {
    flex: 1 200px;
    display: flex;
}

.article3 {
    flex: 3 200px;
    display: flex;
    background-color: orange;
    flex-flow: column;
    text-align: center;
    padding: 10px;
    color: orangered;
}

.article3 div {
    flex: 1 200px;
    display: flex;
    background-color: cadetblue;
    margin: 10px;
    filter: opacity(0.2);
}
.article3:hover {
    color: cadetblue;
}
.article1, .article2 {
    display: flex;
    flex-flow: column;
    padding-top: 10px;
    background-color: cadetblue;
}

.article1 div, .article2 div {
    flex: 1 200px;
    display: flex;
    background-color: white;
    margin: 10px;
}