.flatsVariants  {
    height: 1000px;
    background-image: url("./appPicture.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -10;
    opacity: 0.5;
    background-position: top center;

}
.navlinkToMain {
    position: inherit;
}
.wrap {
    position: relative;
}