.flatsVariants {
    height: 1000px;
    background-image: url("./appPicture.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background-position: top center;
    text-align: center;

}
.navlinkToMain:before {

    position: absolute;
    z-index: 12;

}
.wrap {
     position: relative;
    z-index: 1;

 }