.wrap {
    position: relative;
    height: 1000px;
    width: 58.5%;
    background-size: cover;
    float: none;
    display: table;
    z-index: 0;
    overflow: visible;
}

.flatsVariants {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 1000px;
    max-height: 1000px;
     background-color: rgba(0,0,0,0.6);
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     background-position: center center;
     text-align: left;
    background-image: url("./appPicture.jpg");
    opacity: 0.6;
    overflow: hidden;
    background-attachment: fixed;
 }
.navlinkToMain {
    position: static;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}


.navlinkToMain p:hover {
    opacity: 0.8;
    color: green;
    transform: scale(1.2);
}

.nav {
    text-decoration: none;
    color: cadetblue;

}
.nav:visited {
    text-decoration: none;
    color: red;
}
.nav:hover {
    color: blue;
}