.buildingsVariants {
    background-color: rgba(102, 255, 211, 0.2);
    padding: 1%;
    width: 57%;
    height: 95.5vh;
    display: grid;

    grid-template-areas:
            "firstA firstA"
            "secondA thirdA";
    grid-template-columns: 5fr 10fr;
    grid-gap: 10px;
    grid-template-rows: 1fr 6fr;
    margin: 0;
 }

.building1 {
    background-color: ivory;
    grid-area: firstA;
}
.building2 {
    background-color: azure;
    grid-area: secondA;
}
.building3 {
    background-color: honeydew;
    grid-area: thirdA;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
}

.building3 div {
    background-color: ivory;
    padding: 10px;
}