.offices {
    height: 1000px;
    display: flex;
}
article {
    flex: 1 200px;
    display: flex;
    background-color: lightcyan;
}

article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    background-color: lightblue;
}
